* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

body .container {
  margin: 0 auto;
  max-width: 1200px;
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

.header {
  min-height: 60px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.header-block-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
}

.header-block-nav-ul-li__link {
  font-family: 'Red Hat Display';
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.hero {
  margin-top: 50px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-block-textBox__title {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 95px;
  letter-spacing: -0.02em;
  color: #000000;
}

.hero-block-textBox__text {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 69px;
}

.hero-block-textBox__btn {
  padding: 18px 40px;
  background: #0F0F54;
  border-radius: 8px;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.margin {
  margin-top: 136px;
}

.margin .mini-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

.margin .mini-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

.about {
  margin-top: 156px;
}

.about-block {
  min-height: 480px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 60px;
  padding-left: 120px;
}

.about-block-textBox__title {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #000;
}

.about-block-textBox__text {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #000;
  max-width: 470px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.about .mini-height {
  min-height: 480px;
}

.about .background {
  background: #0F0F54;
}

.about .background .big-title {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.about .background .big-text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  padding-top: 30px;
}

.about .yellow {
  background: #F9E0C7;
}

.about .yellow .black {
  color: #000;
}
/*# sourceMappingURL=main.css.map */