@media (max-width: 820px) {
    .hero-block {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hero-block__img {
        width: 65%;
    }

    .about {
        margin-top: 150px;
    }

    .about-block {
        flex-direction: column;
        text-align: center;
        height: 800px;
        padding-left: 0;
    }

    .about-block__img {
        width: 50%;
    }

    .background {
        flex-direction: column-reverse;
    }

    .column-reverse {
        flex-direction: column-reverse;
    }

    .mini-title {
        padding-top: 30px;
    }
}

@media (max-width: 530px) {
    .header-block {
        flex-direction: column;
        gap: 15px 0;
    }

    .hero-block-textBox__title {
        font-size: 42px;
        line-height: 50px;
    }

    .hero-block-textBox__text {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .header-block-nav-ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-block-textBox__title {
        width: 95%;
    }
}

