* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;

    .container {
        margin: 0 auto;
        max-width: 1200px;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }    
}